[% META title='News' -%]

[% IF latest_xkcd_image -%]
<img src="[% latest_xkcd_image %]" alt="" style="margin: 5px;" border="0" />
<br /><a href="http://www.xkcd.com">xkcd</a>
[%- END -%]

[% FOREACH n IN news -%]
    [% INCLUDE news/single_topic.tt2 news = n %]
    <span class="comments"><a href="[% Catalyst.uri_for('/news/') _ n.news_id %]">Comments([% n.get_column('comments_count') %])</a></span>
[% END -%]
<p>[% INCLUDE general/pagination.tt2 page = news_page prefix = 'page/' %]</p>
