    [% USE date %]
    <div class="news_post">
        <h2>[% news.topic %]</h2>
        <span class="date">[% date.manip.UnixDate(news.create_date, "%Y %b %d %i:%M%p") %]</span>
        <p class="message">[% news.message %]</p>
    </div>
